ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    /* border-radius: 50%; */
    background-image: url(square.png);
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 8px;
}

ul li::after{
    content:'';
    height: 20px;
    width: 20px;
    position: absolute;
    background-image: url(icons8-trash-24.png);
    background-size: cover;
    background-position: center;
    right: 85px;
    top: 15px;
}